@font-path:                           "/packages/fonts";
@font-name:                           "flexslider-icon";
@font-file-name:                      "flexslider-icon";

/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/

@font-face {

	font-family: '@{font-name}';
	src:url('@{font-path}/@{font-file-name}.eot');
	src:url('@{font-path}/@{font-file-name}.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}/@{font-file-name}.woff') format('woff'),
		url('@{font-path}/@{font-file-name}.ttf') format('truetype'),
		url('@{font-path}/@{font-file-name}.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face { 
    font-family: 'Raleway'; 
    font-style: normal; 
    font-weight: 300; 
    src: url("fonts/raleway/Raleway-Light.ttf") format('truetype'); 
}

@font-face { 
    font-family: 'Raleway'; 
    font-style: normal; 
    font-weight: 400; 
    src: url("fonts/raleway/Raleway.ttf") format('truetype'); 
}

@font-face { 
    font-family: 'Raleway'; 
    font-style: normal; 
    font-weight: 600; 
    src: url("font/raleway/Raleway-SemiBold.ttf") format('truetype'); 
}

@font-face { 
    font-family: 'Raleway'; 
    font-style: normal; 
    font-weight: 700; 
    src: url("fonts/raleway/Raleway-Bold.ttf") format('truetype'); 
}