.dashboard {
	padding: 24px;
	max-width: 1200px;
	margin: auto;
	
	display: flex;
	flex-flow: column;
	
	gap: 24px;
	max-height: calc(100vh - 100px);
}

.gamesList {
	padding: 0;
	margin: 0;
}

.gamesListContainer {
	max-width: 100%;
	overflow-y: auto;
}

.game {
	cursor: pointer;
	padding: 0 24px 0 0;
	
	gap: 48px;
	
	border-radius: var(--radius-8);
}
.game a {
	padding: 24px;
	color: var(--lighter);
	text-decoration: none;
	width: 100%;
	
	max-width: 500px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.game p {
	font-size: 14pt;
	margin: 0;
	font-weight: 500;
}
.game small {
	color: var(--neutral-dark);
}
.game:hover {
	background-color: hsla(0, 0%, 80%, 5%);
}

.gameActions {
}
.gameActions .icon {
	font-size: 32px;
	height: 44px;
	line-height: 44px;
}