.manageGames {
	padding: 8px;
	max-width: calc(100% - 16px);
}


.gamesList {
	padding: 0;
	margin: 0;
}

.game {
	cursor: pointer;
	padding: 8px;
}
.game p {
	margin: 0;
	font-weight: 500;
}
.game small {
	color: var(--neutral-dark);
}
.game:hover {
	background-color: var(--light);
}